*{margin:0;padding:0;}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

img, iframe {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 14px
}

p, ul, ol {
  margin: 0 0 15px 0;
  line-height: 1.6em;
  padding: 0 20px
}

h1 {
  margin-bottom: 25px;
  font-size:2.7em
}

h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  position: relative
}

*:not(pre) > code {
  background: purple;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: .9em;
}

body.dark pre {
  background:#161f20;
  padding: 15px;
  border-radius: 15px;
} 

body {
  font-size: 1.5em;
  font-family: "Inter V", Arial, sans-serif, serif;
  background-color: whitesmoke;
  padding: 65px 0
}

body.dark {
  background-color: #111718
}

body.dark * {
  color: whitesmoke
}

body:not(.dark) .btn-switch-theme .light-theme,
body.dark .btn-switch-theme .dark-theme {
  display: none
}

body:not(.dark) .btn-switch-theme .dark-theme,
body.dark .btn-switch-theme .light-theme {
  display: block
}

main .topbar {
  position: fixed;
  left:0;
  top:0;
  text-align: right;
  padding: 25px 0;
  width: 100%
}

main .topbar .btn-switch-theme {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  margin-right: 25px
}

main .container {
  width: 740px;
  margin: 0 auto
}

main article .anchor {
  text-decoration: none;
  position:absolute;
  left: -40px;
  height: 100%;
  width: 40px;
  vertical-align: middle;
  display: ruby;
}

main article .anchor:before {
  content: "🔗";
  font-size: .3em;
  text-align:center;
  vertical-align: middle;
  display: none
}

main article h1:hover .anchor:before,
main article h2:hover .anchor:before,
main article h3:hover .anchor:before,
main article h4:hover .anchor:before,
main article h5:hover .anchor:before,
main article h6:hover .anchor:before {
  display: block
}

.marvdown-notifier {
  bottom: 20px;
  right: 20px;
  position: fixed
}

@keyframes rotate {
  100% {
    transform: rotate(1turn)
  }
}

.marvdown-notifier .marvdown-logo {
  width: 104px;
  height: 104px
}
.marvdown-notifier .marvdown-spinner {
  width: 104px;
  height: 104px;
  overflow: hidden;
  border-radius: 240px;
  position: absolute;
  z-index: 100;
  background: cornflowerblue;
  animation: rotate 0.75s linear infinite
}

.marvdown-notifier .marvdown-spinner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#f7a1f7, #c78c85), linear-gradient(#ffe5a5, #85ff00), linear-gradient(#a515af, #fd6fff), linear-gradient(#0f56d9, #8fb6ff);
  filter: blur(15px)
}

.marvdown-notifier .marvdown-logo:after {
  content: "";
  width: 92px;
  height: 92px;
  background-image: url(/marv.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 92px 92px;
  position: absolute;
  z-index: 101;
  left: 6px;
  top: 6px
}